go 1.26.1

use (
	./deadlock
	./goroutine-leak
	./goroutine-memory
	./http-authentication-middleware
	./single-flight
	./single-flight-cache
	./task-scheduling
	./time-conversion
	./word-frequency-counter
)
