go 1.26.1

use (
	./benchmark-sort
	./deadlock
	./errgroup
	./goroutine-leak
	./goroutine-memory
	./http-authentication-middleware
	./json-stream
	./saga-pattern
	./single-flight
	./single-flight-cache
	./stringer
	./task-scheduling
	./time-conversion
	./word-frequency-counter
)
